*{
    margin: 0;
    text-transform: none !important;
    color:black !important;
}

.woman-section {
    form{
        h2{
            color: white !important;
        }
        label{
            font-size: 20px;

        }
        label{
            color:white !important;
        }
        input{
            padding: 5px;
            color: black;
        }
    }
}